﻿@model IEnumerable<Flores_Rubio_Luis.Domain.Paciente>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Nombre Cliente
        </th>
        <th>
            Especie
        </th>
        <th>
            Sexo de Paciente
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nro_Registro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_Registro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_Paciente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Peso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Particulares)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cliente.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.especie.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sexo.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nro_Registro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_Registro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_Paciente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Peso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Particulares)
        </td>
        <td>
            @Html.ActionLink("Ver Consultas", "GetByPacienteId", "Consulta", new { id = item.Id_Paciente }, null) |
            @Html.ActionLink("Nueva Consulta", "Create", "Consulta", new { id = item.Id_Paciente }, null)
         </td>
    </tr>
}

</table>
