﻿@model IEnumerable<Flores_Rubio_Luis.Domain.Consulta>

@{
    ViewBag.Title = "GetByPacienteId";
}

<h2>GetByPacienteId</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Motivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Peso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comentarios)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PacienteId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Motivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Peso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comentarios)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PacienteId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ConsultaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ConsultaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ConsultaId })
        </td>
    </tr>
}

</table>
